/** footer styles */
.footer {
  background-color: #1c1c1c;
  color: #f1e9e4;
  padding: 32px 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  /* 14.4px */
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width > 580px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 1fr 1fr 
  }

  @media (width > 820px) {
    gap: 32px;
  }
}


.logo {
  display: block;
  width: 230px;

  @media (width > 580px) {
    grid-column: 1/2;
  }

  @media (width > 820px) {
    width: 331px;
  }

  &_link {
    display: block;

  }
}


.contacts {
  // border: 1px solid lawngreen;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #f1e9e4;
  
  @media (width > 580px) {
    justify-self: end;
    grid-column: 2/3;
  }

  &Phone {
    display: flex;
    gap: 4px;
    &:hover {
      color: #DFE3EB;
    }
  }

  &__tel {
    color: #f1e9e4;
  }


  &__list {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__item {
    display: flex;
    color: #fff;
    &:hover {
      color: #780096;
    }
  }

  &__link {
    display: flex;
  }
}



.developer {
  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}


.copyright {
  display: block;

  @media (width > 580px) {
    grid-column: 1/2;
    justify-self: start;
  }
}