.logo {
  display: block;
  // border: 1px solid blue;
  border-radius: 4px;
  outline-offset: 2px;
  outline: 2px solid transparent;

  &:hover,
  &:active,
  &:focus {
    color: #780096;
  }

  &:hover {
    outline: 1px solid #DFE3EB;
  }

  &:focus {
    outline-color: #969EAE;
  }
}

.img {
  width: 100%;
}