.form {
  // grid-area: search;
  position: relative;
  width: 100%;
  height: 38px;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 11px 0 24px;
  border-radius: 32px;
  background-color: #eeeff2;
  border: 1px solid transparent;
  outline: none;
  font-size: 12px;

  &::placeholder {
    color: #969EAE;
    font-size: 12px;
  }

  &:focus-visible,
  &:hover {
    border: 1px solid #DFE3EB;
  }
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  outline-offset: 4px;
  outline: 2px solid transparent;

  &:hover,
  &:active {
    color: #780096;
  }

  &:focus {
    color: #780096;
    outline-color: #780096;
  }
}