/**  fonts */
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v40-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/** vars */
:root {
  --dark-text: #1C1C1C;
  --light-text: #F1E9E4;
  --black-bg: #000;
  --dark-bg: #1C1C1C;
  --light-bg: #FFF;
  --violet: #780096;
  --dark: #1C1C1C;
  --gray: #969EAE;
  --white: #ffffff;
  --light-form: #EEEFF2;
}


/** GLOBAL */
html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(-dark-text);
  background-color: var(-light-bg, #fff);
  background-color: lightgrey; /* DEBUG */
}


/* for footer* */
.root,
#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}


/* hidden elem */
.visuall-hidden {
  position: fixed;
  transform: scale(0);
}


/* text selection */
::selection {
  background-color: #86319b;
  color: white;
}
