// @import '../node_modules/modern-normalize/modern-normalize.css';
// @import 'styles/fonts.scss';
// @import 'styles/variables.scss';

:root {
  --dark-text: #1C1C1C;
  --light-text: #F1E9E4;
  --black-bg: #000;
  --dark-bg: #1C1C1C;
  --light-bg: #FFF;
  --violet: #780096;
  --dark: #1C1C1C;
  --gray: #969EAE;
  --white: #ffffff;
  --light-form: #EEEFF2;
}


/** GLOBAL */
html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--dark-text);
  background-color: var(--light-bg, #fff);
}


/* for footer* */
.root,
#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}


/* hidden elem */
.visuall-hidden {
  position: fixed;
  transform: scale(0);
}


/* text selection */
::selection {
  background-color: #86319b;
  color: #ffffff;
}
